In [20]:
import numpy as np
import pandas as pd

In [21]:
#load the dataset
Dataset = pd.read_csv(r"C:\Users\USER\Downloads\Real estate.csv")

# DATA CLEANING

In [27]:
#convert transaction date to string using .astype(str)
Dataset['X1 transaction date'] = Dataset['X1 transaction date'].astype(str)

In [28]:
#extract the year from the transaction date and create a new column
#transaction year indicates the year the property was sold
Dataset['Transaction Year']= Dataset['X1 transaction date']. apply(lambda x: int(x.split('.')[0]))

In [29]:
#Get information about dataset
Dataset

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area,Transaction Year
0,1,2012.917,32.0,84.87882,10,37.9,2012
1,2,2012.917,19.5,306.59470,9,42.2,2012
2,3,2013.583,13.3,561.98450,5,47.3,2013
3,4,2013.5,13.3,561.98450,5,54.8,2013
4,5,2012.833,5.0,390.56840,5,43.1,2012
...,...,...,...,...,...,...,...
409,410,2013.0,13.7,4082.01500,0,15.4,2013
410,411,2012.667,5.6,90.45606,9,50.0,2012
411,412,2013.25,18.8,390.96960,7,40.6,2013
412,413,2013.0,8.1,104.81010,5,52.5,2013
413,414,2013.5,6.5,90.45606,9,63.9,2013

In [30]:
#display the first 5 rows of the dataset
Dataset.head(5)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area,Transaction Year
0,1,2012.917,32.0,84.87882,10,37.9,2012
1,2,2012.917,19.5,306.59470,9,42.2,2012
2,3,2013.583,13.3,561.98450,5,47.3,2013
3,4,2013.5,13.3,561.98450,5,54.8,2013
4,5,2012.833,5.0,390.56840,5,43.1,2012

In [41]:
#get the basic statistics of numerical columns
Dataset.describe()

,No,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area,Transaction Year
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,17.712560,1083.885689,4.094203,37.980193,2012.695652
std,119.655756,11.392485,1262.109595,2.945562,13.606488,0.460687
min,1.000000,0.000000,23.382840,0.000000,7.600000,2012.000000
25%,104.250000,9.025000,289.324800,1.000000,27.700000,2012.000000
50%,207.500000,16.100000,492.231300,4.000000,38.450000,2013.000000
75%,310.750000,28.150000,1454.279000,6.000000,46.600000,2013.000000
max,414.000000,43.800000,6488.021000,10.000000,117.500000,2013.000000

In [31]:
#check for missing values in the dataset
Dataset.isnull().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
Y house price of unit area                0
Transaction Year                          0
dtype: int64

In [15]:
#select specific column
Dataset[['X2 house age', 'X3 distance to the nearest MRT station','Y house price of unit area']]

,X2 house age,X3 distance to the nearest MRT station,Y house price of unit area
0,32.0,84.87882,37.9
1,19.5,306.59470,42.2
2,13.3,561.98450,47.3
3,13.3,561.98450,54.8
4,5.0,390.56840,43.1
...,...,...,...
409,13.7,4082.01500,15.4
410,5.6,90.45606,50.0
411,18.8,390.96960,40.6
412,8.1,104.81010,52.5
413,6.5,90.45606,63.9

In [32]:
#check the datatypes fpr each column
Dataset.dtypes

No                                          int64
X1 transaction date                        object
X2 house age                              float64
X3 distance to the nearest MRT station    float64
X4 number of convenience stores             int64
Y house price of unit area                float64
Transaction Year                            int64
dtype: object

In [34]:
#check column names

Dataset.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'Y house price of unit area',
       'Transaction Year'],
      dtype='object')

In [20]:
#calculate the average price of houses 

Dataset['Y house price of unit area'].mean()

37.98019323671498

In [64]:
#calculate the avaerage age of houses
Dataset['X2 house age'].mean()

17.71256038647343

In [25]:
#find the oldest house age
#house ages refers to the number of years since the house was built

Dataset['X2 house age'].max()

43.8

In [26]:
#find the newest house age
Dataset['X2 house age'].min()

0.0

In [27]:
#calculate the highest house price per unit area
#max()is used to find the maximum value within a specific column, such as finding the highest house price

Dataset['Y house price of unit area'].max()

117.5

In [28]:
#calculate the lowest house price per unit area
#min()is used to find the minimum value within a specific column, such as finding the lowest house price

Dataset['Y house price of unit area'].min()

7.6

In [33]:
#find the correlation between house age and house price
#correlation is a statistical measure that helps us to undersatand the relationship between two variable
#and how they might influence each other.
#using the corr(),i'm calculating the correlation between the house age and house price.

Dataset['X2 house age'].corr(Dataset['Y house price of unit area'])

-0.2105670462772168

In [ ]:
#since the correlation coefficient is negative and close to 0 , it suggests that the correlation between house age 
#and house price is weak. The relationship between this two is not very strong meaning there are other
#factors likely influencing house prices to a gretaer extent. While there is some tendency for older houses to have 
#slightly lower prices, this corellation is not strong enough to make definitive predictions about house prices solely
#based on house age.

In [49]:
#find properties with distance to MRT station greater than 500 and number of convenient stores is greater than 5

Dataset[(Dataset['X3 distance to the nearest MRT station'] > 500) & (Dataset['X4 number of convenience stores'] > 5)]

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area,Transaction Year
6,7,2012.667,34.5,623.4731,7,40.3,2012
31,32,2012.75,29.6,769.4034,7,25.0,2012
38,39,2012.667,3.1,577.9615,6,47.7,2012
43,44,2012.75,34.4,512.7871,6,34.1,2012
130,131,2013.25,29.6,535.5270,8,37.5,2013
190,191,2013.5,35.3,616.5735,8,42.3,2013
219,220,2012.75,29.3,529.7771,8,40.2,2012
314,315,2013.25,3.7,577.9615,6,41.6,2013
343,344,2013.0,33.5,563.2854,8,46.6,2013
364,365,2013.417,35.3,614.1394,7,33.1,2013
378,379,2013.333,37.3,587.8877,8,37.4,2013

In [39]:
#calculate the count of houses sold in each year
Dataset['Transaction Year']. value_counts().sort_index()

2012    126
2013    288
Name: Transaction Year, dtype: int64

In [47]:
#calculate the total price of houses sold in each year
Dataset.groupby('Transaction Year')['Y house price of unit area'].sum()

Transaction Year
2012     4574.4
2013    11149.4
Name: Y house price of unit area, dtype: float64

In [65]:
#calculate the total prices of house sold for each number of convenient stores
Dataset.groupby('X4 number of convenience stores')['Y house price of unit area'].sum()

X4 number of convenience stores
0     1773.0
1     1464.6
2      753.9
3     1358.7
4     1161.7
5     2996.9
6     1737.2
7     1359.3
8     1340.9
9     1293.3
10     484.3
Name: Y house price of unit area, dtype: float64